sudo: required
language: generic 

services: 
 - docker 

before_install: 
  - docker build -t ahmedgamil/docker-react -f Dockerfile.dev .

scripts: 
  - docker run -e CI=true ahmedgamil/docker-react npm run test